a{
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

body {
  height: 100vh;
  color: white;
  background-color: #282c34;
}


@media screen and (min-width: 768px) {
  
  .Dashboard .container {
    padding: 3vw;
  }

  .Dashboard .first-block{
    display: flex;
  }
  
  .Dashboard .left-panel {
    flex:1; 
    padding: 2em;
    flex-grow: 1;
  }
  
  .Dashboard .right-panel {
    flex:1; 
    background-color: #1e1e1e;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .Dashboard .code-mockup {
    background-color: #1e1e1e;
    padding: 1em;
    border-radius: 5px;
  }
  
  .Dashboard .logo {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
  }
  
  .Dashboard .logo img {
    height: 50px;
    width: auto;
    margin-right: 10px;
  }
  
  .Dashboard .brand{
    font-size:2em;
  }

  .Dashboard .header {
    font-size: 4em;
    margin: 0 0 0.5em 0;
  }
  
  .Dashboard .description {
    font-size: 1.25em;
    margin-bottom: 2em;
  }
  
  .Dashboard input,
  .Dashboard button {
    padding: 2em;
    border: none;
    margin-right: 0.5em;
    border-radius: 5px;
  }
  
  .Dashboard input {
    flex-grow: 1;
  }
  
  .Dashboard button {
    background-color: #000000;
    border: 1px solid rgb(189, 189, 189);
    color: white;
    cursor: pointer;
  }
  
  .Dashboard .input-group {
    display: flex;
    margin-bottom: 1em;
  }
  
  /* Additional CSS for code formatting */
  .Dashboard pre {
    color: #71f1b6;
    margin: 0;
    overflow-x: auto;
  }
  
  .Dashboard .card-container {
    display: flex;
    margin-top: 5vw;
  }
  
  .Dashboard .card {
    flex: 1;
    background-color: #6c5ce7;
    border-radius: 10px;
    margin: 0 10px;
    padding: 20px;
    color: white;
    border: 2px solid white;
    cursor: pointer;
  }
  
  .Dashboard .card-title {
    font-size: 1.5em;
    margin-top: 0;
  }
  
  .Dashboard .card-description {
    font-size: 1em;
    color: white;
  }

  .Dashboard .select-dropdown {
    display: block; /* Adjust the display property based on your specific mobile design */
    /* Add styles for your select button */
    /* For example: */
    margin-top: 20px;
    padding: 1.5em;
    background-color: #6c5ce7;
    color: white;
    border: none;
    border-radius: 5px;
  }
  

}

/*mobile*/

@media screen and (max-width: 767px) {
    /* Changes specific to mobile screens */
  
    .Dashboard .first-block {
      display: block; /* Remove flex for mobile */
    }

    .Dashboard body {
        height: 100vh;
        color: white;
        background-color: #282c34;
      }
      
      .Dashboard .container {
        padding: 3vw;
    }
      
    .Dashboard .left-panel {
        flex:1; 
        padding: 2em;
        flex-grow: 1;
      }
      
      .Dashboard .right-panel {
        flex:1; 
        background-color: #1e1e1e;
        padding: 2em;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      
      .Dashboard .code-mockup {
        background-color: #1e1e1e;
        padding: 1em;
        border-radius: 5px;
      }
      
      .Dashboard .logo {
        display: flex;
        align-items: center;
        margin-bottom: 1em;
      }
      
      .Dashboard .logo img {
        height: 50px;
        width: auto;
        margin-right: 10px;
      }

      .Dashboard .brand{
        font-size: 1.5em;
      }
      
      .Dashboard .header {
        font-size: 2em;
        margin: 0 0 0.5em 0;
      }

      
      .Dashboard .description {
        font-size: 1.25em;
        margin-bottom: 2em;
      }
      
      .Dashboard input,
      .Dashboard button {
        padding: 1.5em;
        border: none;
        border-radius: 5px;
      }
      
      .Dashboard input {
        flex-grow: 1;
      }
      
      .Dashboard button {
        background-color: #000000;
        border: 1px solid rgb(189, 189, 189);
        width: 100%;
        color: white;
        cursor: pointer;
      }
      
      .Dashboard .input-group {
        margin-bottom: 1em;
        text-align: center;
      }

      .Dashboard .input-group input {
        margin-bottom: 1em;
        width: 80%;
      }
      .Dashboard .input-group button {
        width: 87%;
      }
      
      /* Additional CSS for code formatting */
      .Dashboard pre {
        color: #71f1b6;
        margin: 0;
        overflow-x: auto;
      }
  
    /* Hide card-container for mobile */
    .Dashboard .card-container {
      display: none;
      
    }
  
    /* Show select button for mobile */
    .Dashboard .select-dropdown {
      display: block; /* Adjust the display property based on your specific mobile design */
      /* Add styles for your select button */
      /* For example: */
      margin-top: 20px;
      padding: 2em;
      background-color: #6c5ce7;
      color: white;
      border: none;
      border-radius: 5px;
    }
  }
  