/* CSS for the form */

.OpenBeta form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  font-family: Arial, sans-serif;
}

.OpenBeta input[type="text"] {
  margin: 5px 0;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.OpenBeta button {
  margin: 10px 0;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.OpenBeta button:hover {
  background-color: #0056b3;
}

.OpenBeta input[type="file"] {
  display: none;
}

.OpenBeta label[for="fileInput"] {
  margin: 20px 0;
  padding: 15px;
  border: 2px dashed #ccc;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.OpenBeta label[for="fileInput"]:hover {
  background-color: #f9f9f9;
}

/* Highlight drag over effect */

.OpenBeta label[for="fileInput"].dragover {
  background-color: #e1ecf4;
  border-color: #66afe9;
}

/* CSS for the form */

.container-openbeta {
  display: flex;
  flex-direction: column;
  margin: 3vw;
}

.OpenBeta h1 {
  text-align: center;
}

.OpenBeta label[for="fileInput"] {
  /* Your existing styles for drag and drop input */
  /* Add additional styling if required */
  /* Example: */
  margin: 20px 0;
  padding: 15px;
  border: 2px dashed #ccc;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.OpenBeta .row{
  display: flex;
}
.OpenBeta .col{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 4vw;

}

.OpenBeta td{
  border: 1px solid black;
  padding: 1vw;
}
.OpenBeta tr{
  border: 1px solid black;
}
.OpenBeta table{
  border: 1px solid black;
}

.OpenBeta button[type="submit"][disabled] {
  background-color: lightgray!important;  /* Change the color to a light gray when disabled */
  width: 10vw; /* Set the width of the button */
  /* Add more styles as needed */
}
